# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
asd_tools.egg-info/
doc/_build
slurm-*.out
tmp*
.eggs/
.hypothesis/
.idea
.backup/
.pytest_cache/
__pycache__/
.coverage*
coverage.xml*
.vscode*
.nfs*
.ipynb_checkpoints
@eaDir/
q/
*.db
*.log
*.ipynb
# recipe related
egs/*/*/data
egs/*/*/.data
egs/*/*/downloads
egs/*/*/dump
egs/*/*/dump_sp
egs/*/*/.dump
egs/*/*/exp*
egs/*/*/*ipynb
egs/*/*/*wav
# tools related
tools/pytorch-image-models/
tools/venv/
tools/miniconda.sh
tools/activate_python.sh
